.forgot-password-container {
    /* text-align: center; */
    padding: 18px;
    margin: 50px auto;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .1), 0px 2px 4px rgba(0, 0, 0, .1);
}

.uiHeaderTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: start !important;
}


._9nq2 {
    font-size: 14px;
    color: #555;
    margin-bottom: 16px;
}

.inputtext._9o1w {
    max-width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
    ;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.clear-button, .submit-button {
    padding: 10px 20px;
    font-size: 16px;
    width: unset !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clear-button {
    background-color: #e4e6eb;
    color: rgb(0, 0, 0);
}

.submit-button {
    background-color: #1877f2 !important;
    color: white;
}
